.winner-item {
  display: grid;
  grid-template-columns: 30px 80px 170px 70px 100px;
  justify-items: center;
  align-items: center;
  height: 50px;
  font-family: "Lato-Regular" , Arial, sans-serif;
}