.garage-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.garage__content {
  margin-top: 20px;
  margin-bottom: 10px
}

.garage__pagination {
  margin-top: auto;
  margin-bottom: 10px;
}