.header {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__logo {
  font-size: 30px;
}